.populares {
    padding: 3rem 0;
}

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
    "card-imagem"
    "card-corpo";
    grid-template-columns: 100%;
}

.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}